pipeline/pl_ingest_visualcrossing_landing_dev_daily.json
{
	"name": "pl_ingest_visualcrossing_landing_dev_daily",
	"properties": {
		"activities": [
			{
				"name": "copy_visualcrossing_to_landing",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "variable_datenow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_json_visualcrossing_src_dev",
						"type": "DatasetReference",
						"parameters": {
							"city": {
								"value": "@pipeline().parameters.city",
								"type": "Expression"
							},
							"date": {
								"value": "@variables('date_now')",
								"type": "Expression"
							},
							"api_key": {
								"value": "@activity('web_get_apikey').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_js_visualcrossing_landing_dev",
						"type": "DatasetReference",
						"parameters": {
							"city": {
								"value": "@pipeline().parameters.city",
								"type": "Expression"
							},
							"date": {
								"value": "@utcNow('yyyy-MM-dd')",
								"type": "Expression"
							},
							"file_name": {
								"value": "@toLower(concat('atmos_', pipeline().parameters.city, '_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.json'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "web_get_apikey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://kv-atmos-dev-westue2-001.vault.azure.net/secrets/visualcrossing-api-key-dev/d022d52ebf6a4e3fbc61f495e7ae8019?api-version=2025-07-01",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "variable_datenow",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web_get_apikey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "date_now",
					"value": {
						"value": "@utcNow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"city": {
				"type": "string"
			}
		},
		"variables": {
			"date_now": {
				"type": "String"
			}
		},
		"folder": {
			"name": "visualcrossing"
		},
		"annotations": []
	}
}